
thead {
    color: #fff;
    background-color: #000;
    font-size: 110%;
}
th {
    padding: 1pt;
}

.landingPage {
    text-align:center;
    vertical-align:center;
}

.underline {
    text-decoration: underline;
}
.tf10q {
    font-family: monospace;
}
.searchResult {
    padding: 1pt;
    height: 20pt;
    border-top: 2pt solid #dddddd;
    cursor:pointer;
}
.searchResult:hover {
    background-color:#eee;
}
.blog {
    color: #800000;
}
.news {
    color: #000080;
}
.source {
    font-style: italic;
    font-size: small;
}
div.article {
    padding-left: 32pt;
    padding-right: 32pt;
}
.title {
    font-weight: bold;
}
.small-block {
    width: 2.4em;
    display: inline-block;
    font-size: smaller;
    text-align: center;
    margin: 0;
    padding: 0;
}
.monthdayview {
    margin: 2pt;
    padding:0;
    height: 50pt;
}
.mhjang2016 {
    background-color: #fcc;
}
.selected {
    font-weight: bold;
    color: #000;
    border: none;
}
.selected.buttonX {
    background-color: #eee;
}
.selected.buttonC {
    background-color: #f99;
}
.selected.buttonN {
    background-color: #9f9;
}
.controversialButton {
    border: 1px solid #000;
}